<header class="site-header">
    <div id="menu-blur" class="menu-blur"></div>
    <nav class="main-menu">
        <div class="container">
            <div class="logo">
                <a href="#home">{{ site.title }}</a>
            </div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#video">YouTube</a></li>
                <li><a href="#links">Links</a></li>
                <li><a href="#recent">Recent</a></li>
            </ul>
        </div>
    </nav>
</header>

